In [28]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']

In [29]:
for suit in suits:
    #abbrev = suit[0].upper()
    print(f"{suit[0].upper()} = {suit}")

S = Spades
H = Hearts
D = Diamonds
C = Clubs

In [1]:
for i in range (1, 4):
    for j in range (1, i+1):
        print(i, j, i*j)
    print(' ')

1 1 1

2 1 2
2 2 4

3 1 3
3 2 6
3 3 9

In [4]:
data = [10,20,30,-10,40,-5]

for number in data:
    if number <0:
        number=0
    print(number)

10
20
30
0
40
0

In [14]:
data = [10,20,30,-10,40,-5]
for y in enumerate(data):
    print(y)

(0, 10)
(1, 20)
(2, 30)
(3, -10)
(4, 40)
(5, -5)

In [20]:
data = [10,20,30,-10,40,-5]
for t in enumerate(data):
    index, element = t
    if element < 0:
        data[index] = 0
    print(data[index])

10
20
30
0
40
0

In [22]:
data = [10,20,30,-10,40,-5]
for index, element in enumerate(data):
    if element <0:
        data[index] =0
    print(data[index])

10
20
30
0
40
0

In [26]:
for c in 'Anish':
    print(c)

A
n
i
s
h

In [40]:
for i in range (2,11,2):
    print(i)

2
4
6
8
10

In [41]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [47]:
for i in range(3):
    for j in range(3):
        print(f'i={i},j={j}')
    print('='*10)

i=0,j=0
i=0,j=1
i=0,j=2
==========
i=1,j=0
i=1,j=1
i=1,j=2
==========
i=2,j=0
i=2,j=1
i=2,j=2
==========

In [2]:
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]   
]

In [6]:
for row_idx in range(3):
    for col_idx in range(3):
        print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

In [13]:
len(m)
len(m[1])

3

In [17]:
for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
       print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

In [18]:
m = [
    [0, 1],
    [2, 3, 4, 5, 6],
    [7, 8, 9],
    [10]
]

for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
       print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

In [64]:
n = 5
matrix = []
for row_idx in range(n):
    row = []
    for col_idx in range(n):
        if row_idx == col_idx:
            row.append(1)
        else:
            row.append(0)
    matrix.append(row)

In [25]:
matrix

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]]

In [24]:
n = 10
matrix = []
for row_idx in range(n):
    row = []
    for col_idx in range(n):
        if row_idx == col_idx:
            row.append(1)
        else:
            row.append(0)
    matrix.append(row)

In [28]:
data = [10,20,30]
list(enumerate(data))

[(0, 10), (1, 20), (2, 30)]

In [32]:
for t in enumerate(data):
    idx, el = t
    print(idx, el)

0 10
1 20
2 30

In [33]:
for idx, el in enumerate(data):
    print(idx, el)

0 10
1 20
2 30

In [34]:
for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
       print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

In [39]:
for row in m:
    for element in row:
        print((element))

0
1
2
3
4
5
6
7
8
9
10

In [42]:
for row_idx, row in enumerate(m):
    for col_idx, element in enumerate (row):
        print(row_idx, col_idx, element)

0 0 0
0 1 1
1 0 2
1 1 3
1 2 4
1 3 5
1 4 6
2 0 7
2 1 8
2 2 9
3 0 10

In [48]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
count = 0
total = 0 
for i in range(len(data)):
    if data[i] is not None:
        count = count + 1
        total = total + data[i]
average = total / count
average

10.75

In [49]:
count = 0
total = 0
for val in data:
    if val is not None:
        count += 1 # count = count + 1
        total += val
average = total /count
average

10.75

In [50]:
for i in range(len(data)):
    if data[i] is None:
        data[i] = average
    
data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [54]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

for index, val in enumerate(data):
    if val is None:
        data[index] = average
data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [58]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
count = 0
total = 0 
for i in range(len(data)):
    if data[i] is not None:
        count = count + 1
        total = total + data[i]
average = total / count

for i in range(len(data)):
    if data[i] is None:
        data[i] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [57]:
count = 0
total = 0
for val in data:
    if val is not None:
        count += 1 # count = count + 1
        total += val
average = total /count

for index, val in enumerate(data):
    if val is None:
        data[index] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [59]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
count = sum(1 for val in data if val is not None)
total = sum(val for val in data if val is not None)
average = total / count
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [62]:
from statistics import fmean
data = [10.5, 11.2, 9.8, None, 11.5, None]
average = fmean(val for val in data if val is not None)
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [63]:
import pandas as pd
data = [10.5, 11.2, 9.8, None, 11.5, None]
df = pd.DataFrame(data)
df.fillna(df.mean(),inplace=True)
df[0].tolist()

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]