In [3]:
l = [1, 10, 2, 9, 3, 8]
t = (1, 10, 2, 9, 3, 8)
s = {1, 10, 2, 9, 3, 8}

sorted(l)

l

[1, 10, 2, 9, 3, 8]

In [5]:
sorted(t)
t

(1, 10, 2, 9, 3, 8)

In [6]:
sorted(s)

[1, 2, 3, 8, 9, 10]

In [ ]:
sorted(l, reverse = True)

[10, 9, 8, 3, 2, 1]

In [8]:
?sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [9]:
sorted(iterable = 1, reverse=True)

TypeError: sorted expected 1 argument, got 0

In [12]:
ord('a')
ord('A')

'A' < 'a'

True

In [13]:
sorted(('a', 'b', 'c'))

['a', 'b', 'c']

In [14]:
sorted('azbycxhiudsddf')

['a', 'b', 'c', 'd', 'd', 'd', 'f', 'h', 'i', 's', 'u', 'x', 'y', 'z']

In [15]:
sorted('aAbBBBxXX')

['A', 'B', 'B', 'B', 'X', 'X', 'a', 'b', 'x']

In [17]:
sorted(['Chandra', 'Abhinav', 'Anish'])

['Abhinav', 'Anish', 'Chandra']

In [18]:
names = [
    'Emma', 'Liam', 'Olivia', 'Noah', 'Ava', 'Ethan', 'Sophia', 'Mason', 'Isabella', 'William',
    'Mia', 'James', 'Charlotte', 'Benjamin', 'Amelia', 'Lucas', 'Harper', 'Henry', 'Evelyn', 'Alexander',
    'Abigail', 'Michael', 'Emily', 'Daniel', 'Elizabeth', 'Matthew', 'Sofia', 'Jackson', 'Avery', 'Sebastian',
    'Ella', 'David', 'Madison', 'Carter', 'Scarlett', 'Jayden', 'Victoria', 'Wyatt', 'Aria', 'John',
    'Grace', 'Owen', 'Chloe', 'Dylan', 'Camila', 'Luke', 'Penelope', 'Gabriel', 'Riley', 'Anthony',
    'Layla', 'Isaac', 'Lillian', 'Grayson', 'Nora', 'Jack', 'Zoey', 'Julian', 'Mila', 'Levi',
    'Aubrey', 'Christopher', 'Hannah', 'Joshua', 'Lily', 'Andrew', 'Addison', 'Lincoln', 'Eleanor', 'Mateo',
    'Natalie', 'Ryan', 'Luna', 'Jaxon', 'Savannah', 'Nathan', 'Brooklyn', 'Aaron', 'Leah', 'Isaiah',
    'Zoe', 'Thomas', 'Stella', 'Charles', 'Hazel', 'Caleb', 'Ellie', 'Josiah', 'Paisley', 'Christian',
    'Audrey', 'Hunter', 'Skylar', 'Eli', 'Violet', 'Jonathan', 'Claire', 'Connor', 'Bella', 'Landon'
]

sorted(names)

['Aaron',
 'Abigail',
 'Addison',
 'Alexander',
 'Amelia',
 'Andrew',
 'Anthony',
 'Aria',
 'Aubrey',
 'Audrey',
 'Ava',
 'Avery',
 'Bella',
 'Benjamin',
 'Brooklyn',
 'Caleb',
 'Camila',
 'Carter',
 'Charles',
 'Charlotte',
 'Chloe',
 'Christian',
 'Christopher',
 'Claire',
 'Connor',
 'Daniel',
 'David',
 'Dylan',
 'Eleanor',
 'Eli',
 'Elizabeth',
 'Ella',
 'Ellie',
 'Emily',
 'Emma',
 'Ethan',
 'Evelyn',
 'Gabriel',
 'Grace',
 'Grayson',
 'Hannah',
 'Harper',
 'Hazel',
 'Henry',
 'Hunter',
 'Isaac',
 'Isabella',
 'Isaiah',
 'Jack',
 'Jackson',
 'James',
 'Jaxon',
 'Jayden',
 'John',
 'Jonathan',
 'Joshua',
 'Josiah',
 'Julian',
 'Landon',
 'Layla',
 'Leah',
 'Levi',
 'Liam',
 'Lillian',
 'Lily',
 'Lincoln',
 'Lucas',
 'Luke',
 'Luna',
 'Madison',
 'Mason',
 'Mateo',
 'Matthew',
 'Mia',
 'Michael',
 'Mila',
 'Natalie',
 'Nathan',
 'Noah',
 'Nora',
 'Olivia',
 'Owen',
 'Paisley',
 'Penelope',
 'Riley',
 'Ryan',
 'Savannah',
 'Scarlett',
 'Sebastian',
 'Skylar',
 'Sofia',
 'Sophia',
 'Stella',
 'Thomas',
 'Victoria',
 'Violet',
 'William',
 'Wyatt',
 'Zoe',
 'Zoey']

In [22]:
l = [1, 10, 2, 9, 3, 8]
sorted_ascending= sorted(l)
sorted_ascending
max(l)

10

In [24]:
sorted([])
min([])

ValueError: min() iterable argument is empty

In [25]:
min([], default=0)

0

In [26]:
?min

Docstring:
min(iterable, *[, default=obj, key=func]) -> value
min(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its smallest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the smallest argument.
Type:      builtin_function_or_method